.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
.person-container {
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.person-container p {
    margin: 0;
    margin-bottom: 10px;
}
.person-container:hover {
    background-color: #e0e0e0;
}
  
.filter-container {
    gap: 1.5em;
    margin: 20px;
    margin-bottom: 20px;
}

.filter select{
    margin-right: 30px;
    margin-left: 10px;
}

.circle-container {
    display: flex;
    justify-content: space-evenly;
}

.circle {
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    transform: translate(0, 25%);
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}
