.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  
.person-container {
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

.person-container:hover {
    background-color: #e0e0e0;
}
  
.filter-container {
    gap: 1.5em;
    margin: 20px;
    margin-bottom: 20px;
}

.filter select{

    margin-right: 30px;
    margin-left: 10px;
}
