.sms-form {
  text-align: center;
  padding: 4em;
}

.sms-form label {
  display: block;
  font-size: 1.2em;
  text-align: left;
}
.sms-form input,
.sms-form textarea {
  font-size: 1em;
  width: 100%;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;

}
.sms-form div {
  margin-bottom: 0.5em;
}
.sms-form button {
  font-size: 1em;
  width: 30%;
  
}
.sms-form.error {
  outline: 2px solid #f00;
}
